.index-container{
	background-image: url(http://creativekidscenter.net/sitebuilder/images/blackboard-906x636.png);
	background-size: cover;
	width: 100%;
	height: 700px;
}

.chalk{
	color: white;
	font-family: 'Lobster', cursive;
}

.container-main{
	margin: 0px;
	height: 0px;
	width: 100%;
	height: 700px;
}