.index-container{
	background-image: url(http://creativekidscenter.net/sitebuilder/images/blackboard-906x636.png);
	background-size: cover;
	width: 100%;
	height: 700px;
	background-position: center;
}

.chalk{
	margin-top: 100px;
	font-size: 100px;
	color: white;
  font-family: 'Londrina Shadow', cursive;
}

.container-main{
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	height: 700px;
}

.black{
	color: black;
}